@import '/src/Component/Variables.scss';

.button {
    text-align: center;
    border: none;
    cursor: pointer;

    &.submit {
        background-color: var(--secondary-color);
        width: 925px;
        max-width: 100%;
        padding: 23px 70px;
        margin: 54px auto 0;
        color: var(--main-background);
    }
}

.checkbox {
    &-container-customer {
        display: flex;
        flex-direction: column;
    }

    &-wrapper {
        display: flex;
        gap: 15px;
        padding: 16px 0;
        margin-top: -52px;
    }

    &-input {
        width: 2.2rem;
        /* 22px ÷ 10 */
        height: 2rem;
        /* 20px ÷ 10 */
        border: 0.2rem solid #000;
        /* 2px ÷ 10 */
        background-color: var(--main-background);
        transition: background-color 0.3s ease;
    }

    &-label {
        flex-grow: 1;
        width: 138px;
        margin: auto 0;
        color: var(--text-color);
        text-align: center;
        font: var(--font-family-1);
        font-size: var(--font-size);
    }
}

.date-picker {
    &-container {
        border-radius: 8px;
        background-color: var(--main-background);
        display: flex;
        gap: 40px 100px;
        flex-wrap: wrap;
        flex-grow: 1;
        flex-basis: auto;
        padding: 26px 36px;
        border: 1px solid var(--border-color);
        color: var(--secondary-color);
    }

    &-input {
        background: transparent;
        border: none;
        color: inherit;
        font: var(--font-family-1);
        font-size: var(--font-size);

        &::-webkit-calendar-picker-indicator {
            display: none;
        }
    }
}

.page-title {
    color: #5a0001;
    text-align: center;
    align-self: center;
    margin: 10.5rem 0 0 2.6rem;
    font-family: var(--font-title);
}

.date-icon {
    aspect-ratio: 2.1;
    object-fit: contain;
    object-position: center;
    width: 21px;
    align-self: start;
}

.form {
    &-container {
        display: flex;
        flex-direction: column;
        align-items: start;
        font-weight: 700;
        margin: auto;
        padding-bottom: 37px;
        background-color: var(--main-background); // Màu nền tùy chỉnh
        font: var(--font-family-1);
    }

    &-title {
        color: var(--secondary-color);
        text-align: center;
        align-self: center;
        margin: 10.5rem 0 0 2.6rem;
        font: var(--font-title);
    }

    &-section {
        width: 112rem;
        margin: 16px auto;

    }
}

.navigation-buttons {
    align-self: center;
    display: flex;
    width: 829px;
    max-width: 100%;
    gap: 40px 100px;
    flex-wrap: wrap;
    margin: 80px 0 0 25px;
}

.input-label {
    color: var(--text-color);
    font: var(--font-family-1);
    margin-left: 13px;
    font-size: var(--font-size-label);
}

.text-input {
    border-radius: 15px;
    background-color: var(--main-background);
    width: 1066px;
    max-width: 100%;
    color: var(--secondary-color);
    padding: 34px 26px;
    margin-top: 15px;
    font: var(--font-family-1);
    font-size: var(--font-size);
    border: 1px solid var(--border-color);
}

.date-pickers-container {
    display: flex;
    margin-top: 43px;
    align-items: start;
    gap: 26px;
    flex-wrap: wrap;
    margin-top: 15px;
}

.date-picker-label {
    font-size: var(--font-size);
}

.checkbox-grid {
    display: flex;
    gap: 40px 37px;
    flex-wrap: wrap;
    margin: 63px 0 0 12px;
}