@import '/src/Component/Variables.scss';

.homepage {
    // Thêm padding nếu muốn
    background-color: var(--main-background); // Màu nền tùy chỉnh
    font-family: var(--font-family-1);
}

.homepage {
    padding: 2rem;

    .introduce_1 {
        display: flex; // Sử dụng flexbox để chia thành hai cột
        align-items: center; // Căn chỉnh dọc cho các phần tử
        justify-content: space-between; // Giãn đều hai cột
        gap: 2rem; // Khoảng cách giữa hai cột
        padding: 2rem;

        .information {
            flex: 1; // Cột 1 chiếm 50% không gian
            font-size: 3.2rem;

            div {
                margin-bottom: 1rem; // Khoảng cách giữa các dòng
                line-height: 1.5;
            }
        }

        img {
            flex: 1; // Cột 2 chiếm 50% không gian
            max-width: 100%; // Hình ảnh không vượt quá không gian cột
            height: auto; // Đảm bảo tỉ lệ hình ảnh
            border-radius: 10px; // Tùy chọn bo góc cho ảnh
            object-fit: cover; // Giữ ảnh đẹp mà không bị méo
        }
    }
}